@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
:root {
	--Neutral-900: #121212;
	--Neutral-800: #262626;
	--Neutral-500: #717178;
	--Neutral-400: #949497;
	--Neutral-0: #ffffff;
	--Blue-600: #177dff;
	--Blue-400: #4ca6ff;
	--Red-500: #d64d5b;
	--Green-500: #4dd67b;
	--Yellow-400: #f4dc73;
}

* {
	padding: 0;
	margin: 0;
	color: var(--Neutral-0);
	font-family: "Sora", sans-serif;
}

body {
	background-color: var(--Neutral-900);
	padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: 12px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 12px;
}

#scoreANDdificulti {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	gap: 12px;
}

#score {
	display: flex;
	text-align: center;
	gap: 22px;
	padding: 0px 16px;
}

#dificulti {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 12px;
}
